
@{
    ViewBag.Title = "EMPOLYEE";
}
 <h2>EMPOLYEE</h2>

<body>

    <div class="Search" style="position:relative; top: 10px;">
        <input type="text" id="employee" class="form-control input-sm" placeholder="ค้นหาพนักงาน" required data-validation-required-message="Year is required">
    </div>

    <div class="container" style="position:relative; top: 25px;">
        <div></div>

        <table class="table">
            <thead>
                <tr>
                    <th>รหัสช่าง</th>
                    <th>ชื่อช่าง</th>
                    <th>จำนวนงาน</th>
                    <th>ยืม - คืน</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0001</td>
                    <td>Doe</td>
                    <td>360</td>
                    <td>GOOD</td>
                </tr>
                <tr>
                    <td>0002</td>
                    <td>Moe</td>
                    <td>360</td>
                    <td>GOOD</td>
                </tr>
                <tr>
                    <td>0003</td>
                    <td>Dooley</td>
                    <td>360</td>
                    <td>GOOD</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
